<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
<!--
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.apache.http.headers">
		<level value="info"/>
	</logger>
	
	<logger name="org.apache.http.wire">
		<level value="debug"/>
	</logger>
	
	<logger name="net.anthavio">
		<level value="debug"/>
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>