<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="disqus/layout">
<head>
<title th:text="'Category ' + ${category.id}"></title>
</head>
<body>
<section layout:fragment="content">

	<h1 th:text="'Category ' + ${category.id}">Category 111222333</h1>
	
	<form action="#" th:action="@{/disqus/category}" name="CategoryUpdateForm" id="CategoryUpdateForm" th:object="${category}" method="POST">
	
	<fieldset id="fieldsMain">
		<dl>
			<dt><label for="id">Id</label></dt>
			<dd th:text="${category.id}">111222333</dd>
		</dl>
		<dl>
			<dt><label for="title">Title</label></dt>
			<dd th:text="${category.title}">Category Title</dd>
		</dl>
		<dl>
			<dt><label for="forum">Forum</label></dt>
			<dd><a th:href="@{'/disqus/forum/' + ${category.forum}}" th:text="${category.forum}">forum</a></dd>
		</dl>
		<dl>
			<dt><label for="order">Order</label></dt>
			<dd th:text="${category.order}">111222333</dd>
		</dl>
		<dl>
			<dt><label for="id">Default</label></dt>
			<dd><input type="checkbox" th:field="*{isDefault}" disabled="disabled"/></dd>
		</dl>
	</fieldset>
	</form>

	<h3>Last Threads</h3>
	<section id="lastThreads" th:with="list=${lastThreads.response}">
		<table id="threadsTable" th:if="${not #lists.isEmpty(list)}">
			<thead>
				<tr>
					<th>#</th>
					<th>thread</th>
					<th>title</th>
					<th>posts</th>
					<th>closed</th>
					<th>deleted</th>
					<th>identifiers</th>
					<th>forum</th>
					<th>author</th>
					<th>createdAt</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="thread,rowStat : ${list}">
					<td th:text="${rowStat.count}">1</td>
					<td><a th:href="@{'/disqus/thread/' + ${thread.id}}" href="thread/1"><span th:text="${thread.id}">forum123</span></a></td>
					<td th:text="${#strings.abbreviate(thread.title,50)}" th:title="${thread.title}">title</td>
					<td th:text="${thread.posts}">posts</td>
					<td><input type="checkbox" disabled="disabled" th:checked="${thread.isClosed}"/></td>
					<td><input type="checkbox" disabled="disabled" th:checked="${thread.isDeleted}"/></td>
					<td th:text="${thread.identifiers}">identifiers</td>
					<td><a th:href="@{'/disqus/category/' + ${thread.category.id}}" href="category/1"><span th:text="${thread.category.title}">Category</span></a></td>
					<td><a th:href="@{'/disqus/forum/' + ${thread.forum}}" href="forum/1"><span th:text="${thread.forum}">forum123</span></a></td>
					<td><a th:href="@{'/disqus/user/' + ${thread.author.id}}" href="user/1"><span th:text="${thread.author.username}">111222333</span></a></td>
					<td th:text="${#dates.format(thread.createdAt, 'yyyy-MM-dd HH:mm:ss')}">createdAt</td>
				</tr>
			</tbody>
		</table>
	</section>

</section>
</body>
</html>