<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	layout:decorator="disqus/layout">
<head>
	<title>Disqus Browser</title>
</head>
<body>
<section layout:fragment="content">
	<h1>Disqus Browser</h1>
	
	<div class="container">
	<div class="col-lg-4">
	<div class="well">
	<form action="#" class="form-horizontal" th:action="@{/disqus/}" name="FindForm" th:object="${INDEX_CRITERIA}" method="post">
		<fieldset>
			<legend>Find</legend>
			<div class="form-group" th:class="${#fields.hasErrors('forumShort')}? 'form-group has-error'">
				<label for="forumShort" class="col-lg-2 control-label">Forum</label>
				<div class="col-lg-10">
					<input type="text" th:field="*{forumShort}" class="form-control" id="forumShort"/>
					<span class="help-inline error" th:if="${#fields.hasErrors('forumShort')}" th:errors="*{forumShort}">Forum is invalid</span>
				</div>
			</div>
			
			<div class="form-group" th:class="${#fields.hasErrors('userName')}? 'form-group has-error'">
				<label for="userName" class="col-lg-2 control-label">User</label>
				<div class="col-lg-10">
					<input type="text" th:field="*{userName}" class="form-control" id="fuserName"/>
					<span class="help-inline error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">User name is invalid</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="reset" class="btn btn-default">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
	</div>
	</div>
	</div>
</section>
</body>
</html>