<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	layout:decorator="disqus/layout">
<head>
	<title>Disqus Browser</title>
</head>
<body>
<section layout:fragment="content">
	<h1>Disqus Browser</h1>
	
	<form action="#" th:action="@{/disqus/}" name="FindForm" id="FindForumForm" th:object="${INDEX_CRITERIA}" method="post">
	<fieldset style="width: 30em;">
		<dl th:class="${#fields.hasErrors('forumShort')}? 'control-group error'">
			<dt><label class="control-label" for="forumShort">Forum</label></dt>
			<dd>
				<input type="text" th:field="*{forumShort}"/>
				<span class="help-inline error" th:if="${#fields.hasErrors('forumShort')}" th:errors="*{forumShort}">Forum is invalid</span>
			</dd>
		</dl>
		<dl th:class="${#fields.hasErrors('userName')}? 'control-group error'">
			<dt><label class="control-label" for="forum">Username</label></dt>
			<dd>
				<input type="text" th:field="*{userName}"/>
				<span class="help-inline error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username is invalid</span>
			</dd>
		</dl>
	</fieldset>
	<div>
		<button type="submit">Show</button>
	</div>
	</form>
	
	
</section>
</body>
</html>