<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="-1"/>
	<meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" type="text/css" media="all" />
	
	<script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<link href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" />
	<!-- http://bootswatch.com/spacelab/ -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootswatch.min.css}" />

	<title>Layout Title</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav" th:if="${beans.SessionData?.identity?.disqusUser == null}">
				<li><a th:href="@{/disqus/identity}">Select Identity</a></li>
			</ul>
			<ul class="nav navbar-nav"  th:if="${beans.SessionData?.identity?.disqusUser != null}">
				<li>
					<a th:href="@{'/disqus/user/' + ${beans.SessionData?.identity?.disqusUser.id}}" th:text="'User : '+ ${beans.SessionData?.identity?.disqusUser.name}">User: Name and Id</a>
				</li>
				<li><a th:href="@{/disqus/identity}">Change Identity</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/disqus/logout}">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
	
<div class="container">
	<section layout:fragment="content">
		<p>Layout Content</p>
	</section>
</div>
	
	<footer>
		<span th:if="${beans.SessionData?.identity?.disqusUser != null}">
		<a th:href="@{/disqus/forums}" >Forums</a> 
		</span>
		<p layout:fragment="custom-footer"><!--Layout Footer value--></p>
	</footer>
</body>
</html>