<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title th:text="'Posts'">Posts</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
	
<style type="text/css">

.error {
	color: red;
}
</style>
</head>
<body>

	<h1>Posts</h1>
	
	<form action="#" th:action="@{/disqus/posts}" name="PostSearchForm" id="PostSearchForm" th:object="${POST_CRITERIA}" method="post">
	
	<div>
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		</ul>
	</div>
                                        
		<fieldset id="fieldsMain">
		
		<dl th:class="${#fields.hasErrors('forum')}? 'control-group error'">
			<dt><label class="control-label" for="forum">Forum</label></dt>
			<dd>
				<input type="text" th:field="*{forum}" placeholder="ForumShortName"/>
				<span class="help-inline error" th:if="${#fields.hasErrors('forum')}" th:errors="*{forum}">Forum is invalid</span>
			</dd>
		</dl>
		
		<dl th:class="${#fields.hasErrors('thread')}? 'control-group error'">
			<dt><label class="control-label" for="thread">Thread</label></dt>
			<dd>
				<input type="text" th:field="*{thread}" placeholder="ThreadId"/>
				<span class="help-inline error" th:if="${#fields.hasErrors('thread')}" th:errors="*{thread}">ThreadId is invalid</span>
			</dd>
		</dl>
		
		<dl th:class="${#fields.hasErrors('category')}? 'control-group error'">
			<dt><label class="control-label" for="forum">Category</label></dt>
			<dd>
				<select th:field="*{category}">
					<option label="---" value="" />
					<option th:each="element,row : ${categories}"  th:value="${element.id}"  th:text="${element.title}"></option>
				</select>
				<span class="help-inline error" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category is invalid</span>
			</dd>
		</dl>
		
		<dl th:class="${#fields.hasErrors('since')}? 'control-group error'">
			<dt><label class="control-label" for="since">Since</label></dt>
			<dd>
				<input type="text" th:field="*{since}" placeholder="2000-12-31 23:59:59"/>
				<span class="help-inline error" th:if="${#fields.hasErrors('since')}" th:errors="*{since}">Since is invalid</span>
			</dd>
		</dl>
		
		</fieldset>
		
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>
	
	<section id="posts" th:if="${posts != null}" th:with="list=${posts.response}">
	
		<span th:if="${posts.cursor.hasPrev}">
			<a href="" th:with="baseUrl='/disqus/thread/'+ ${thread.id}" th:href="@{${baseUrl}(cursor=${posts.cursor.prev})} ">Prev 50</a>
		</span>
		<span th:if="${posts.cursor.hasNext}">
			<a href="" th:href="@{('/disqus/thread/'+ ${thread.id})(cursor=${posts.cursor.next})} ">Next 50</a>
		</span>
		
		<table id="postsTable" th:if="${not #lists.isEmpty(list)}">
			<thead>
				<tr>
					<th>#</th>
					<th>post</th>
					<th>parent</th>
					<th>thread</th>
					<th>forum</th>
					<th>approved</th>
					<th>spam</th>
					<th>flagged</th>
					<th>deleted</th>
					<th>highlighted</th>
					<th>createdAt</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post,rowStat : ${list}">
					<td th:text="${rowStat.count}">1</td>
					<td><a th:href="@{'/disqus/post/' + ${post.id}}" href="post/1"><span th:text="${post.id}">111222333</span></a></td>
					<td><a th:href="@{'/disqus/post/' + ${post.parent}}" href="post/1"><span th:text="${post.parent}">111222333</span></a></td>
					<td><a th:href="@{'/disqus/thread/' + ${post.thread}}" href="thread/1"><span th:text="${post.thread}">111222333</span></a></td>
					<td><a th:href="@{'/disqus/forum/' + ${post.forum}}" href="forum/1"><span th:text="${post.forum}">forum123</span></a></td>
					<td th:text="${post.isApproved}">true/false</td>
					<td th:text="${post.isSpam}">true/false</td>
					<td th:text="${post.isFlagged}">true/false</td>
					<td th:text="${post.isDeleted}">true/false</td>
					<td th:text="${post.isHighlighted}">true/false</td>
					<td th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">createdAt</td>
				</tr>
			</tbody>
		</table>
	</section>
	
</body>
</html>